<hr />
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active" id="exome-results-tab-nav"><%= link_to "Sequence Variant Results <span class='fa fa-search'></span>".html_safe, '#exome-search-results-table', role: 'tab', 'data-toggle' => 'tab' %></li>
	<li role="presentation" id="igv-exome-tab-nav"><%= link_to "IGV <span class='fa fa-arrows-h'></span>".html_safe, '#igv-exome-tab', role: 'tab', 'data-toggle' => 'tab' %></li>
</ul>

<div id="results-tabs" class="tab-content">
	<div id="exome-search-results-table" class="tab-pane pad active fade in">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-condensed" id="exome-results">
					<thead>
					<tr>
            <th>SNP ID</th>
            <th>Chrom</th>
            <th>Pos</th>
            <th>Ref</th>
            <th>Alt</th>
            <th>Cell Line</th>
            <th>Symbol</th>
            <th>Consequence</th>
            <th>Impact</th>
            <th>Vqsr</th>
            <th>Rs</th>
            <th>Cpg</th>
            <th>An</th>
            <th>KG Phase 3</th>
            <th>ExAC AC</th>
            <th>COSMIC #</th>
            <th>COSMIC ID</th>
            <th>Feature ID</th>
            <th>Hgvs_c</th>
            <th>Hgvs_p</th>
            <th>Coverage</th>
            <th>Pval</th>
            <th>A1 #</th>
            <th>A2 #</th>
            <th>Af</th>
            <th>Ac</th>
					</tr>
					</thead>
					<tfoot>
					<tr>
            <th>SNP ID</th>
            <th>Chrom</th>
            <th>Pos</th>
            <th>Ref</th>
            <th>Alt</th>
            <th>Cell Line</th>
            <th>Symbol</th>
            <th>Consequence</th>
            <th>Impact</th>
            <th>Vqsr</th>
            <th>Rs</th>
            <th>Cpg</th>
            <th>An</th>
            <th>KG Phase 3</th>
            <th>ExAC AC</th>
            <th>COSMIC #</th>
            <th>COSMIC ID</th>
            <th>Feature ID</th>
            <th>Hgvs_c</th>
            <th>Hgvs_p</th>
            <th>Coverage</th>
            <th>Pval</th>
            <th>A1 #</th>
            <th>A2 #</th>
            <th>Af</th>
            <th>Ac</th>
					</tr>
					</tfoot>
					<tbody>
					<% @results.each do |result| %>
						<tr>
							<td><%= tooltip_truncate(result.snp_id) %></td>
							<td><%= result.chrom %></td>
							<td><%= result.pos %></td>
							<td><%= tooltip_truncate(result.ref) %></td>
							<td><%= tooltip_truncate(result.alt) %></td>
              <td><%= result.cell_id %></td>
              <td><%= result.symbol.join(', ') %></td>
							<td><%= result.consequence %></td>
              <td><%= result.impact %></td>
							<td><%= result.vqsr %></td>
							<td><%= result.rs %></td>
							<td><%= result.cpg %></td>
							<td><%= result.an %></td>
							<td><%= result.kg_phase_3 %></td>
							<td><%= result.exac_ac %></td>
							<td><%= result.cosmic_cnt %></td>
							<td><%= result.cosmic_id %></td>
							<td><%= result.feature_id.join(', ')%></td>
							<td><%= result.hgvs_c %></td>
              <td><%= result.hgvs_p %></td>
              <td><%= result.cov %></td>
              <td><%= result.p_val %></td>
              <td><%= result.a1_cnt %></td>
              <td><%= result.a2_cnt %></td>
              <td><%= result.af %></td>
              <td><%= result.ac %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<%= render 'search_info' %>
	</div>
	<div id="igv-exome-tab" class="tab-pane pad">
		<div class="row">
			<div class="col-md-12" id="igv-exome-target"></div>
		</div>
	</div>
</div>