<nav class="navbar fluid navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to "<span class='fa fa-home'></span> Human Stem Cell Genome Project".html_safe, site_path, class: "navbar-brand hidden-xs" %>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav" id="site-nav">
			<li id="about-nav" class="active"><%= link_to "About <span class='fa fa-info-circle'></span>".html_safe, "javascript:showSection('#about-section');" %></li>
			<li id="study-nav"><%= link_to "Study Summary <span class='fa fa-flask'></span>".html_safe, "javascript:showSection('#study-section');" %></li>
			<li id="tutorial-nav"><%= link_to "Tutorial <span class='fa fa-question-circle'></span>".html_safe, "javascript:showSection('#tutorial-section');" %></li>
			<li id="data-nav"><%= link_to "Primary Data Access <span class='fa fa-database'></span>".html_safe, "javascript:showSection('#data-section');" %></li>
			<li id="contact-nav"><%= link_to "Contact <span class='fa fa-envelope'></span>".html_safe, "javascript:showSection('#contact-section');" %></li>
			<% if user_signed_in? %>
        <li id="wgs-nav"><%= link_to "Whole Genome <span class='fa fa-search'></span>".html_safe, "javascript:showSection('#wgs-section');" %></li>
        <% if current_user.admin? %>
            <li id="whitelist-nav"><%= link_to "User Whitelist <span class='fa fa-users'></span>".html_safe, "javascript:showSection('#whitelist-section');" %></li>
        <% end %>
      <% end %>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<% if user_signed_in? %>
				<li><%= link_to "<span class='fa fa-sign-out'></span> Logout: #{current_user.email.split('@').first}".html_safe, destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "<span class='fa fa-lock'></span> Login".html_safe, new_user_session_path, id: 'sign-in-nav' %></li>
			<% end %>
		</ul>
	</div>
</nav>
